html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

.relative__img {
    position: relative;
    margin: 0 0 0 0;
    /*bottom: -9vh;*/
    display: block;
    /*width: 50vw;*/
    width: 10vw;
}

.page__top {
    position: relative;
    width: 100%;
    top: 0px;
}

.absolute__text {
    position: absolute;
    left: 25%;
    z-index: 10;
    top: 30px;
}

.h1__color {
    color: blueviolet;
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    /*font-family: 'Gorditas', cursive;*/
    /*font-family: 'Noto Serif JP', serif;*/
    margin: 0 0 10vh 0;
}

.h1__change {
    color: #180296;
}

.h1__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
}

.h2__style {
    color: blueviolet;
    font-weight: bold;
    font-size: 2vw;
}

.p-estra-profile-top__color {
    color: darksalmon;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1vw;
}

.p-estra-profile-bottom__color {
    color: darksalmon;
    margin-top: 5px;
    font-size: 1vw;
}

.h2__change {
    color: blue;
}

.img__img {
    width: 100%;
}

.ul__ul {
    list-style: none;
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: 1vh;
}

.li__li {
    padding: 5px;
    font-weight: bolder;
    font-size: 1vw;
}

.header__between {
    position: relative;
    top: -2vh;
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 10px 0 10px;
    /*justify-content: space-between;*/
}

.nav__nav {
    margin-right: auto;
    display: flex;
    height: 60px;
    align-items: center;
}


.a__under {
    text-decoration: none;
    font-size: 1vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}


.eyecatch {
    position: relative;
}

.eyecatch-img-container {
    position: absolute;
    left: 40%;
    right: auto;
    /*width: 50%;*/
    width: 60%;
    /*margin: 10% 0 0 auto;*/
    z-index: -1;
}

.eyecatch-img {
    width: 100%;
    height: 100%;
    display: block;
}



.estra__logo {
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: 1vh;
}

.news {
    position: relative;
    /*top: 650px;*/
    /*left: 300px*/
}

.p-news__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
    color: blueviolet;
    font-size: small;
    margin-bottom: 10px;
}

.news__absolute {
    position: absolute;
    /*left: 300px;*/
    /*top: 650px;*/
    left: 30%;
}

.page-top__size {
    height: 90vh;
    width: 100%;
    display: block;
    /*background-color: aqua;*/
}

.news__margin {
    margin: 20px 0 20px 0;
    /*text-decoration: underline;*/
    border-bottom: 1px solid;
    padding: 0 0 20px 0;
}

.h3_news__margin {
    margin-bottom: 30px;
}

.news-page__size {
    height: 65vh;
    width: 100%;
    display: block;
    background-color: white;
}

.ul__line {
    border-top: 1px double;
    border-bottom: 1px double;
    padding: 20px 0 20px 0;
    margin: 10px 0 20px 0;
}

.about-page__size {
    height: 50vh;
    width: 100%;
    display: block;
    background-color: #dedfd7;
}

.about {
    position: relative;
}


.about__absolute {
    position: absolute;
    left: 30%;
}

.all-page__size {
    height: 2000px;
    width: 100%;
    display: block;
    background-color: #7c9e3b;
}

.news__logo {
    border: solid 2px #000;
    border-radius: 15px 15px 15px 15px;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    color: #d7daa6;
    background-color: blueviolet;
    margin-left: 40px;
    margin-right: 40px;
}

.abaut-news__abusolute {
    position: absolute;
    left: 50%;
}

.about-title__absolute {
    position: absolute;
    left: 50%;
}

.P__contaner {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 30px;
}

.p-abaut-news__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
    color: blueviolet;
    font-size: small;
    /*margin-bottom: 10px;*/
    margin-bottom: 0px;
    text-align: center;
}

.h3-about__contaner {
    position: absolute;
    top: 50px;
    /*width: 100%;*/
    width: 100%;
    margin: 0 auto;
    height: 50px;
    /*background-color: blueviolet;*/
    background-color: #dedfd7;
    /*font-size: 25px;*/
    font-size: 2vw;
}

.h3-abaut__style {
    text-align: center;
}

.p-about__contaner {
    position: absolute;
    top: 130px;
    left: 15%;
    line-height: 25px;
    /*font-size: 18px;*/
    font-size: 1vw;
}

.p-about-sub__contaner {
    position: absolute;
    top: 250px;
    left: 15%;
    line-height: 25px;
    /*font-size: 18px;*/
    font-size: 1vw;
}

.about-img-container {
    position: absolute;
    top: 130px;
    left: 60%;
    right: auto;
    /*width: 50%;*/
    width: 20%;
    /*margin: 10% 0 0 auto;*/
    z-index: 10;
}

.about-img {
    width: 100%;
    height: 100%;
    display: block;
}

.service {
    position: relative;
}

.service-page__size {
    height: 70vh;
    width: 100%;
    display: block;
    background-color: white;
}

.service-news__abusolute {
    position: absolute;
    left: 50%;
}

.service-title__absolute {
    position: absolute;
    left: 50%;
}

.P-service__contaner {
    position: absolute;
    top: 40px;
    width: 50%;
    height: 50px;
    left: 23%;
}

.p-service-news__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
    color: blueviolet;
    font-size: small;
}

.h3-service__contaner {
    position: absolute;
    top: 60px;
    width: 50%;
    height: 50px;
    /*background-color: blueviolet;*/
    background-color: white;
    /*font-size: 25px;*/
    font-size: 2vw;
    left: 23%;
}

.service-first__img {
    width: 50%;
    height: 100%;
    float: left;
    /*background: red;*/
    background: rgb(196, 45, 78);
    z-index: 10;
}

.service-second__img {
    width: 50%;
    height: 50%;
    float: right;
    /*background: blue;*/
    background: rgb(211, 86, 113);
    z-index: 11;
}

.service-third__img {
    width: 50%;
    height: 50%;
    float: right;
    background: rgb(236, 136, 158);
    z-index: 12;
}

.service__contaner {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 30%;
    left: 23%;
    /*margin: 0 auto;*/
}

.service-first__img-size {
    position: absolute;
    width: 20%;
    left: 15%;
    top: 10%;
    z-index: 20;
}

.service-second__img-size {
    position: absolute;
    width: 15%;
    left: 52%;
    top: 8%;
    z-index: 30;
}

.service-third__img-size {
    position: absolute;
    width: 15%;
    left: 52%;
    top: 57%;
    z-index: 30;
}

.p-service-sub__title {
    position: absolute;
    left: 21%;
    top: 60%;
    font-weight: bold;
    color: white;
}

.p-service-sub-second__title {
    position: absolute;
    left: 70%;
    top: 10%;
    font-weight: bold;
    color: white;
}

.p-service-sub-third__title {
    position: absolute;
    left: 70%;
    top: 60%;
    font-weight: bold;
    color: white;
}

.p-service-first {
    position: absolute;
    left: 3%;
    top: 70%;
    color: white;
    /*line-height: 27px;*/
    line-height: 3vh;
    font-size: 0.9vw;
}

.p-service-second {
    position: absolute;
    left: 70%;
    top: 20%;
    color: white;
    /*font-size: 13px;*/
    font-size: 0.8vw;
    /*line-height: 20px;*/
    line-height: 3vh;

}

.p-service-third {
    position: absolute;
    left: 70%;
    top: 70%;
    color: white;
    /*font-size: 13px;*/
    font-size: 0.8vw;
    /*line-height: 20px;*/
    line-height: 3vh;
}

.blog {
    position: relative;
}


.blog-page__size {
    height: 70vh;
    width: 100%;
    display: block;
    /*background-color: #ebc4e4;*/
    background-color: #dedfd7;

}

.P-blog__contaner {
    position: absolute;
    top: 40px;
    width: 50%;
    height: 50px;
    left: 23%;
}

.p-blog__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
    color: blueviolet;
    font-size: small;
}

.h3-blog__contaner {
    position: absolute;
    top: 65px;
    width: 50%;
    height: 50px;
    /*background-color: #7c9e3b;*/
    background-color: #dedfd7;
    font-size: 25px;
    left: 23%;
}

.blog__contaner {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 25%;
    left: 23%;
    /*left: 22vw;*/
    display: flex;
    /*background: #a5a5a5;*/
    background-color: #dedfd7;
    z-index: 100;
}

.blog-first__item {
    width: 30%;
    height: 90%;
    /* background: red;*/
    background: white;
    z-index: 50;
    margin: 5px 5% 5px 0px;
    border-radius: 30px;
}

.blog-second__item {

    width: 30%;
    height: 90%;
    /*background: blue;*/
    background: white;
    z-index: 50;
    margin: 5px 5% 5px 5px;
    border-radius: 30px;
}

.blog-third__item {
    width: 30%;
    height: 90%;
    /*background: yellow;*/
    background: white;
    z-index: 50;
    margin: 5px 0px 5px 5px;
    border-radius: 30px;
}

.p_blog-sub__title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 22px;
    z-index: 4000;
    left: 25%;
    top: 5%;
}

.p_blog-sub-title__contaner {
    position: absolute;
    width: 13%;
    height: 10%;
    background: rgb(196, 45, 78);
    z-index: 3000;
    line-height: 30px;
    border-radius: 30px 0 0 0;
}

.p_blog-sub-second__title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 22px;
    z-index: 4000;
    left: 25%;
    top: 5%;
}

.p_blog-sub-second-title__contaner {
    position: absolute;
    width: 13%;
    height: 10%;
    background: rgb(196, 45, 78);
    z-index: 3000;
    line-height: 30px;
    border-radius: 30px 0 0 0;
}

.p_blog-sub-third__title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 22px;
    z-index: 4000;
    left: 25%;
    top: 5%;
}

.p_blog-sub-third-title__contaner {
    position: absolute;
    width: 13%;
    height: 10%;
    background: rgb(196, 45, 78);
    z-index: 3000;
    line-height: 30px;
    border-radius: 30px 0 0 0;
}

.blog__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px 30px 0 0;
}

.blog-img__contaner {
    position: absolute;
    top: 10%;
    width: 10%;
}

.blog__img-size {
    object-fit: cover;
    z-index: 20;
}

.p-blog__content {
    position: absolute;
    /*line-height: 30px;*/
    line-height: 3vh;
    top: 52%;
    left: 3%;
    font-weight: bold;
    font-size: 1vw;
    color: #000;
}

.p-blog__date {
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 0.85vw;
    color: #000;
}

.p-blog__tag {
    position: absolute;
    top: 80%;
    left: 16%;
    font-size: 0.85vw;
    color: #000;
}

.p-blog-second__content {
    position: absolute;
    /*line-height: 30px;*/
    line-height: 3vh;
    top: 52%;
    left: 38%;
    font-weight: bold;
    font-size: 1vw;
    color: #000;
}

.p-blog-second__date {
    position: absolute;
    top: 80%;
    left: 38%;
    font-size: 0.85vw;
    color: #000;
}

.p-blog-second__tag {
    position: absolute;
    top: 80%;
    left: 51%;
    font-size: 0.85vw;
    color: #000;
}

.p-blog-third__content {
    position: absolute;
    /*line-height: 30px;*/
    line-height: 3vh;
    top: 52%;
    left: 73%;
    font-weight: bold;
    font-size: 1vw;
    color: #000;
}

.p-blog-third__date {
    position: absolute;
    top: 80%;
    left: 72%;
    font-size: 0.85vw;
    color: #000;
}

.p-blog-third__tag {
    position: absolute;
    top: 80%;
    left: 87%;
    font-size: 0.85vw;
    color: #000;
}

.blog__btn {
    border: solid 2px #000;
    border-radius: 30px 30px 30px 30px;
    color: rgb(196, 45, 78);
    font-weight: bold;
    background-color: white;
    margin-left: 40px;
    /*margin-left: 1vw;*/
    margin-right: 40px;
    /*margin-right: 1vw;*/
    text-decoration: none;
    line-height: 100px;
    /*line-height: 1vw;*/
    padding: 20px 60px 20px 60px;
    /*margin: 10px 0 20px 0;*/
    border-color: rgb(196, 45, 78);
    border-width: medium;
}

.btn__contaner {
    position: absolute;
    top: 85%;
    /*left: 37%;*/
    left: 40vw;
}

.company {
    position: relative;
}

.company-page__size {
    height: 70vh;
    width: 100%;
    display: block;
    /*background-color: #8ce0ce;*/
    background-color: white;
}

.company-company__abusolute {
    position: absolute;
    left: 50%;
}

.company-title__absolute {
    position: absolute;
    left: 50%;
}

.p-company__contaner {
    position: absolute;
    top: 40px;
    width: 50%;
    height: 50px;
    left: 23%;
}

.p-company-company__style {
    /*font-family: 'Caveat', cursive;*/
    font-family: 'Gorditas', cursive;
    /*font-family: 'Noto Serif JP', serif;*/
    color: blueviolet;
    font-size: small;
}

.h3-company__contaner {
    position: absolute;
    top: 70px;
    width: 50%;
    height: 50px;
    /*background-color: blueviolet;*/
    background-color: white;
    /*font-size: 25px;*/
    font-size: 1.7vw;
    left: 23%;
}

.table-company__contaner {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 25%;
    left: 23%;
    display: flex;
    background: #a5a5a5;
    z-index: 100;
}

.table__style {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.table-th__style {
    border: solid 1px;
    text-align: left;
    padding-left: 3%;
    vertical-align: middle;
    width: 30%;
    background-color: #dedfd7;
    font-size: 1vw;
}

.table-td__style {
    border: solid 1px;
    vertical-align: middle;
    padding-left: 3%;
    background-color: white;
    font-size: 1vw;
}

.recruitment {
    position: relative;
}

.recruitment-page__size {
    height: 40vh;
    width: 100%;
    display: block;
    background-color: #adb5e4;
}

.recruitment__img {
    width: 100%;
    height: 100%;
    display: block;
}

.recruitment-img__contaner {
    position: absolute;
    display: block;
    width: 50%;
    z-index: 500;
}

.recruitment__img-size {
    z-index: 20;
}

.interview__img {
    width: 100%;
    height: 100%;
    display: block;
}

.interview-img__contaner {
    position: absolute;
    display: block;
    left: 50%;
    width: 50%;
    z-index: 500;
}

.interview__img-size {
    z-index: 20;
}

.recruit-interview-img__contaner {
    position: absolute;
    display: flex;
    width: 100%;
}

.a-recruit__style {
    /*font-size: 50px;*/
    font-size: 2.3vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.a-recruit__contaner {
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 600;
}

.a-interview__contaner {
    position: absolute;
    top: 50%;
    left: 65%;
    z-index: 600;

}

.interview-img__link {
    display: inline-block;
}

.blog-contaner__link {
    display: inline-block;
}

.inquiry {
    position: relative;
}

.inquiry-page__size {
    height: 40vh;
    width: 100%;
    display: block;
    /*background-color: #adb5e4;*/
    background-color: white;
}

.h5-inquiry__style {
    /*font-size: 20px;*/
    font-size: 1vw;
    text-align: center;
}

.h5-inquiry__contaner {
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 700;
}

.inquiry__btn {
    border: solid 2px #000;
    border-radius: 30px 30px 30px 30px;
    color: white;
    /*color: violet;*/
    background-color: rgb(196, 45, 78);
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    line-height: 100px;
    padding: 20px 60px 20px 60px;
    border: violet;
    /*box-shadow: 10px 10px 10px rgb(112, 61, 112);*/
    border-bottom: solid 10px rgb(92, 50, 92);
}

.inquiry-btn__contaner {
    position: absolute;
    top: 60%;
    left: 43%;
}

.inquiry__img {
    width: 100%;
    height: 100%;
    display: block;
}

.inquiry__img-size {
    position: absolute;
    display: block;
    width: 8%;
    z-index: 500;
    top: 35%;
    left: 20%;
}

.inquiry__line {
    line-height: 50px;
    border-left: 5px solid rgb(196, 45, 78);
    color: white;
    z-index: 1000;
}

.line__contaner {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
}

.copyright {
    position: relative;
}


.copyright-page__size {
    height: 10vh;
    width: 100%;
    display: block;
    background-color: #dedfd7;
}

.copyright__contaner {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 700;
    text-align: center;
}

.copyright-small__style {
    text-align: center;
}

.header-page {
    position: relative;
    width: 100%;
}

.header-page__size {
    height: 7vh;
    width: 100%;
    display: block;
    background-color: white;
}

.header-content__size {
    position: absolute;
    width: 100%;
    top: 20%;
}

.resize {
    max-width: 100%;
    height: auto;
}